.msghg {
  position: absolute !important;
}

.msghg-desktop .msghg {
	width: 360px;
  bottom: auto !important;
}

.msghg .title {
  cursor: pointer;
}

.msghg-mobile .msghg {
  left: 0px !important;
  right: 0px;
  bottom: 0px;
  top: auto !important;
}

.msghg .output {
	overflow-y: scroll;
  overflow-x: hidden;
}

.msghg .separator {
	border-bottom: 1px solid #ccc;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.msghg .content {
	padding: 0.5rem;
}

.msghg .item {

}

.output .item {
	padding: 0.2rem 0.5rem;
  color: darkgoldenrod;
  transition: 1s;
  opacity: 0;
  margin-left: 1rem;
  margin-right: -1rem;
}

.output .me {
	text-align: right;
	color: darkblue;
  margin-left: -1rem;
  margin-right: 1rem;
}

.msghg textarea {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  padding: 0.5rem;
}

.msghg-desktop textarea {
  height: 4rem;
}

.msghg-desktop .modal {
  width: 500px;
  left: calc(100% - 510px);
  top: calc(100% - 510px);
}

.msghg-mobile textarea {
  height: 3rem;
}

.msghg-desktop .output {
  height: 10em;
}

.msghg-mobile .output {
  height: 6em;
}

.msghg-mobile .title {
}

.modal {
  background: white;
  border: 1px solid #ccc;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.modal.off {
  opacity: 0;
  visibility: hidden;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
@supports (offset-rotation: 0deg) {
  .modal {
    offset-rotation: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
  }
  .modal.off {
    offset-distance: 100%;
  }
}
@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}
.modal h3 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.modal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}

.modal .actions button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.modal .actions > table {
  width: 100%;
}

#centered-toggle-button {
  position: absolute;
}

.msghg-right {
  text-align: right;
}

.msghg-help {
  font-size: 0.6rem;
  color: gray;
}

.msghg-close {
  width: 45px;
  height: 45px;
  background: url(images/close.png);
  right: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.5s;
}

.msghg-close:hover {
  opacity: 1;
} 